@page "/agentlogs"
@using Gurux.DLMS.AMI.Client.Helpers.ContextMenu
@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Gurux.DLMS.AMI.Shared.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Microsoft.AspNetCore.SignalR.Client
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Client.Helpers
@using Gurux.DLMS.AMI.Module

@attribute [Authorize(Roles = "Admin, AgentLogManager")]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ConfirmBase Confirm
@inject IGXNotifier Notifier
@implements IDisposable

@if (Title)
{
    <PageTitle>@Properties.Resources.AgentLogs (@Properties.Resources.Total: @Total)</PageTitle>
}
<AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.AgentLog)>
    <MenuControl RightCorner="true">
        <ChildContent>
            <MenuItem Text="@Properties.Resources.Clear" Icon="oi oi-trash" OnClick="@(async () => OnClear())" />
        </ChildContent>
    </MenuControl>
</AuthorizeView>

@if (Filter)
{
    <MenuControl>
        <ChildContent>
            <MenuItem Text="@Properties.Resources.Search" Icon="oi oi-magnifying-glass" OnClick="@(async () => Updated())" />
        </ChildContent>
    </MenuControl>
}
@if (Filter)
{
    <p>
        <input type="checkbox"
           @onchange="@((ChangeEventArgs __e) => ShowClosedErrors = @StatusTile.ToBoolean(__e.Value))"
           id="showClosedErrors" />
        <label class="form-check-label" for="showClosedErrors">@Properties.Resources.ShowClosedErrors</label>
    </p>
}

<table class="table table-striped">
    <thead>
        @if (Filter)
        {
            <tr>
                <th>
                    <input class="form-control" placeholder="Filter by creation time..."
                       type="datetime-local"
                       @onchange="@((ChangeEventArgs __e) => filter.CreationTime = @StatusTile.ToDateTime(__e.Value))" />
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Filter by agent..."
                       @onchange="@((ChangeEventArgs __e) => filter.Agent.Name = Convert.ToString(__e.Value))" />
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Filter by error..."
                       @onchange="@((ChangeEventArgs __e) => filter.Message = Convert.ToString(__e.Value))" />
                </th>
                <th>
                    <div>
                        <input class="form-control" type="text" placeholder="Filter by level..."
                           @onchange="@((ChangeEventArgs __e) => filter.Level = @ClientHelpers.LevelToInt(__e.Value))" />
                    </div>
                </th>
                <th>
                    <input class="form-control" placeholder="Filter by close time..."
                       type="datetime-local"
                       @onchange="@((ChangeEventArgs __e) => filter.Closed = @StatusTile.ToDateTime(__e.Value))" />
                </th>
            </tr>
        }
        <tr>
            <th>@Properties.Resources.CreationTime</th>
            <th>@Properties.Resources.Name</th>
            <th>@Properties.Resources.Error</th>
            <th>@Properties.Resources.Level</th>
            <th>@Properties.Resources.CloseTime</th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize @ref="virtualize" Context="error" ItemsProvider="@GetItems">
            <ItemContent>
                <tr class=@(GetSelectedClass(error)) @onclick="@(()=>RowSelected(error))">
                    <td>@error.CreationTime</td>
                    <td>@(error.Agent != null ? error.Agent.Name : "")</td>
                    <td>@error.Message</td>
                    <td>@ClientHelpers.LevelToString(error.Level)</td>
                    <td>@error.Closed</td>
                    @if (_selected == error)
                    {
                        <td>
                            <ContextMenuController>
                                <ChildContent>
                                    <ContextMenuItem Text="@Properties.Resources.Show" Icon="oi oi-eye" OnClick="async () => OnShow()"></ContextMenuItem>
                                    <ContextMenuItem Text="@Properties.Resources.Close" Icon="oi oi-pencil" OnClick="async () => OnClose()"></ContextMenuItem>
                                </ChildContent>
                            </ContextMenuController>
                        </td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                </tr>
            </ItemContent>
            <Placeholder>
                <p>
                    @Properties.Resources.Loading&hellip;
                </p>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>
<br />
<Confirm @ref="ClearConfirmation" ConfirmationChanged="OnClearConfirmation" ConfirmationTitle=@($"Confirm Clear")
         OkTitle="@Properties.Resources.Clear" ConfirmationMessage="@Properties.Resources.AreYouSureYouWantToClearErrors">
</Confirm>

@code {
    /// <inheritdoc />
    public string Name
    {
        get
        {
            return Gurux.DLMS.AMI.Client.Properties.Resources.AgentLogs;
        }
    }

    /// <inheritdoc />
    public Type? ConfigurationUI
    {
        get
        {
            return null;
        }
    }

    /// <inheritdoc cref="IGXComponentView.Icon">
    public string? Icon
    {
        get
        {
            return "oi oi-tablet";
        }
    }

    /// <summary>
    /// Amount of the agent errors shown on the view.
    /// </summary>
    [Parameter]
    public int Count { get; set; } = 0;

    /// <summary>
    /// Is filter shown.
    /// </summary>
    [Parameter]
    public bool Filter { get; set; } = true;

    /// <summary>
    /// Is title shown.
    /// </summary>
    [Parameter]
    public bool Title { get; set; } = true;

    internal int Total
    {
        get;
        private set;
    }

    /// <summary>
    /// Agent error filter.
    /// </summary>
    private GXAgentLog filter = new GXAgentLog()
        {
            Agent = new GXAgent()
        };
    /// <summary>
    /// User is verified before agent errors are cleared.
    /// </summary>
    protected ConfirmBase? ClearConfirmation;
    /// <summary>
    /// Virtualize.
    /// </summary>
    protected Virtualize<GXAgentLog>? virtualize;

    /// <summary>
    /// Selected item.
    /// </summary>
    private GXAgentLog? _selected;

    public bool IsActive(GXAgentLog item)
    {
        return item.Closed == null;
    }

    /// <summary>
    /// Closed errors are shown.
    /// </summary>
    public bool ShowClosedErrors { get; set; }

    protected string GetSelectedClass(GXAgentLog selected)
    {
        return _selected != null && selected.Id == _selected.Id ? "table-info" : "table-striped";
    }


    protected void RowSelected(GXAgentLog selected)
    {
        _selected = selected;
        Notifier.UpdateData(GXPages.AgentLogs, _selected);
    }

    /// <summary>
    /// Update virtualized items.
    /// </summary>
    protected async Task Updated()
    {
        try
        {
            _selected = null;
            if (virtualize != null)
            {
                Notifier?.ClearStatus();
                await virtualize.RefreshDataAsync();
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    protected override void OnInitialized()
    {
        try
        {
            if (Notifier == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidNotifier);
            }
            Notifier.ClearStatus();
            Notifier.On<IEnumerable<GXAgent>?>(this, nameof(IGXHubEvents.ClearAgentLogs), async (errors) =>
            {
                await Updated();
            });
            Notifier.On<IEnumerable<GXAgentLog>>(this, nameof(IGXHubEvents.AddAgentLogs), (errors) =>
            {
                Task.Run(Updated);
            });
            Notifier.On<IEnumerable<GXAgentLog>>(this, nameof(IGXHubEvents.CloseAgentLogs), (errors) =>
            {
                Task.Run(Updated);
            });
            Notifier.ChangePage(GXPages.AgentLogs, null);
            Notifier.Clear();
            Notifier.UpdateButtons();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    private async ValueTask<ItemsProviderResult<GXAgentLog>> GetItems(ItemsProviderRequest request)
    {
        //Don't clear status or error is lost.
        Notifier?.ProgressStart();
        try
        {
            if (ShowClosedErrors)
            {
                //Show closed errors.
                filter.Closed = DateTimeOffset.MaxValue;
            }
            else
            {
                //Show active errors.
                filter.Closed = null;
            }
            if (filter.Message == string.Empty)
            {
                filter.Message = null;
            }
            ListAgentLogs req = new ListAgentLogs() { Index = request.StartIndex, Count = request.Count, Filter = filter };
            if (Count != 0)
            {
                req.Count = Count;
            }
            var ret = await Http.PostAsJson<ListAgentLogsResponse>("api/AgentLog/List", req, request.CancellationToken);
            Total = ret.Count;
            //Get only selected amount of the agent logs.
            if (Total != 0)
            {
                ret.Count = Total;
            }
            return new ItemsProviderResult<GXAgentLog>(ret.Logs, ret.Count);
        }
        catch (TaskCanceledException)
        {
            //Let the Virtualize component handle this
            throw;
        }
        catch (OperationCanceledException)
        {
            //Might happen when the user scrolls the list rapidly.
        }
        catch (ObjectDisposedException)
        {
            //Might happen when the user scrolls the list rapidly.
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
        return default;
    }

    /// <summary>
    /// Show agent error details.
    /// </summary>
    public void OnShow()
    {
        try
        {
            Notifier?.ClearStatus();
            if (_selected == null)
            {
                throw new Exception(Gurux.DLMS.AMI.Client.Properties.Resources.NoItemIsSelected);
            }
            Notifier.Title = "Agent error";
            Notifier.Action = CrudAction.Update;
            NavigationManager.NavigateTo("/agentLog");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Close the selected error.
    /// </summary>
    public async Task OnClose()
    {
        try
        {
            if (_selected == null)
            {
                throw new ArgumentException(Properties.Resources.NoItemIsSelected);
            }
            Notifier?.ProgressStart();
            Notifier?.ClearStatus();
            CloseAgentLog arg = new CloseAgentLog();
            arg.Logs = new Guid[] { (_selected as GXAgentLog).Id };
            await Http.PostAsJson<CloseAgentLogResponse>("api/AgentLog/Close", arg);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    public void Dispose()
    {
        Notifier.RemoveLastPage(GXPages.AgentLogs);
        Notifier.RemoveListener(this);
    }

    /// <summary>
    /// Clear the agent error list.
    /// </summary>

    public void OnClear()
    {
        Notifier?.ClearStatus();
        ClearConfirmation?.Show();
    }

    /// <summary>
    /// Clear the agent error list.
    /// </summary>
    public async Task OnClearConfirmation(bool confirm)
    {
        try
        {
            if (confirm)
            {
                await Http.PostAsJson<ClearAgentLogsResponse>("api/AgentLog/Clear", new ClearAgentLogs());
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }
}
