<!--
// --------------------------------------------------------------------------
//  Gurux Ltd
//
//
//
// Filename:        $HeadURL$
//
// Version:         $Revision$,
//                  $Date$
//                  $Author$
//
// Copyright (c) Gurux Ltd
//
//---------------------------------------------------------------------------
//
//  DESCRIPTION
//
// This file is a part of Gurux Device Framework.
//
// Gurux Device Framework is Open Source software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2 of the License.
// Gurux Device Framework is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// This code is licensed under the GNU General Public License v2.
// Full text may be retrieved at http://www.gnu.org/licenses/gpl-2.0.txt
//---------------------------------------------------------------------------
-->

@using System.Timers
@using Microsoft.AspNetCore.Components.Web;
<div tabindex="0" 
    onclick="@((MouseEventArgs e) => HandleClick(e))"
    @oncontextmenu="OnContextMenu"
    @onblur="OnBlur"
    @onmouseup="HandleMouseUp"
    @oncontextmenu:preventDefault="true">
    <Tooltip Title="More options"><label>&vellip;</label></Tooltip>
</div>

<CascadingValue Value="this">
    <div class="contextmenu"
         style="@($"z-index:1000; visibility:{GetVisibility()};")">
        @if (_show)
        {
            <ul class="contextmenuitems">
                @foreach (ContextMenuItem it in Items)
                {
                    <li tabindex="@GetTabIndex()" class="contextmenuitem" onclick="@(async () => it.Click())">
                        @if (string.IsNullOrEmpty(it.Icon) == false)
                        {
                            <div class="@it.Icon" style="padding-right: 5px;"></div>
                        }
                        @it.Text
                    </li>
                }
            </ul>
        }
    </div>
    @ChildContent
</CascadingValue>

@code {
    string GetVisibility()
    {
        if (_show)
        {
            return "visible";
        }
        return "hidden";
    }
    protected bool _show;

    /// <summary>
    /// Contect menu items.
    /// </summary>
    List<ContextMenuItem> Items = new List<ContextMenuItem>();

    int _index = 0;
    System.Timers.Timer _timer = new System.Timers.Timer();

    private string GetTabIndex()
    {
        ++_index;
        return _index.ToString();
    }


    void HandleClick(MouseEventArgs args)
    {
        if (args.Button == 0)
        {
            Show();
        }
    }

    void OnContextMenu(MouseEventArgs args)
    {
        Show();
    }

    void HandleMouseUp(MouseEventArgs args)
    {
        //        Show();
        _timer.Stop();
    }

    void OnBlur(FocusEventArgs args)
    {
        _timer.Interval = 300;
        _timer.AutoReset = true;
        _timer.Elapsed += TimerElapsed;
        _timer.Start();
    }

    private void TimerElapsed(object? sender, ElapsedEventArgs e)
    {
        Hide();
        _timer.Stop();
    }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Show contect menu.
    /// </summary>
    internal void Show()
    {
        _show = true;
        StateHasChanged();
    }

    /// <summary>
    /// Hide contect menu.
    /// </summary>
    internal void Hide()
    {
        if (_show)
        {
            _show = false;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Add new menu item.
    /// </summary>
    /// <param name="menu">New menu item.</param>
    internal void AddMenuItem(ContextMenuItem menu)
    {
        Items.Add(menu);
    }
}
