@using Gurux.DLMS.AMI.Client.Helpers.Validation;
@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Gurux.DLMS
@using Gurux.DLMS.ManufacturerSettings
@using Gurux.DLMS.Objects
@using System.Xml.Linq
@using System.IO
@using System.Xml
@using System.Xml.Serialization
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Client.Helpers
@using Gurux.DLMS.AMI.Module
@using System.Text.Json
@using System.Web;
@using System.Text.Json.Serialization;

@attribute [Authorize(Roles = "Admin, TemplateManager")]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@inject ILogger<DeviceTemplate> Logger

@if (Active != null)
{
    <EditForm Model="@Active">
        <DataAnnotationsValidator />
        <GXValidator @ref="_validator" OnValidate="OnValidate" />
        <ValidationSummary />
        <table>
            <tr>
                <th>
                    @if (isLoading)
                    {
                        <p>Loading @fileName...</p>
                    }
                    else
                    {
                        @if (IsAdding)
                        {
                            <p><InputFile OnChange="@LoadFile" /></p>
                        }
                        @if (IsAdding && templates != null && templates.Any())
                        {
                        <th>Type:</th>
                        <InputSelect id="type" @bind-Value="TemplateType" placeholder="Device Active type">
                                @foreach (var it in templates)
                                {
                                <option value="@it.Type">@it.Type</option>
                                }
                        </InputSelect>
                        }
                    }
                </th>
            </tr>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    <InputText id="name" disabled="@IsDeleting"
                           @bind-Value="TemplateName"
                               placeholder="Device Active name" />
                </th>
            </tr>
            <tr>
                <th>
                    Wait time
                </th>
                <th>
                    <InputNumber id="waitTime" disabled="@IsDeleting"
                             @bind-Value="Active.WaitTime" />
                </th>
            </tr>
            <tr>
                <th>
                    Resend count
                </th>
                <th>
                    <InputNumber id="resendCount" disabled="@IsDeleting"
                             @bind-Value="Active.ResendCount" />
                </th>
            </tr>
            <tr>
                <th>
                    @Properties.Resources.InterfaceType
                </th>
                <th>
                    <InputSelect id="type" class="form-select"
                             @bind-Value="InterfaceType" disabled="true">
                        @foreach (var it in GetInterfaceTypes())
                        {
                            <option value="@Convert.ToInt32(@it)">@it</option>
                        }
                    </InputSelect>
                </th>
            </tr>
            <tr>
                <th>
                    @Properties.Resources.Authentication
                </th>
                <th>
                    <InputSelect id="type" class="form-select"
                             @bind-Value="Authentication" disabled="true">
                        @foreach (var it in GetAuthentications())
                        {
                            <option value="@Convert.ToInt32(@it)">@it</option>
                        }
                    </InputSelect>
                </th>
            </tr>
            <fieldset disabled=@IsCiphered()>
            <tr>
                <th>
                    <InputHexAscii @ref="@_clientSystemTitle"
                               Disabled="@IsDeleting"
                               HexDisabled="@IsClientSystemTileDisabled()"
                               @bind-Value="ClientSystemTitle"
                               Title="@Properties.Resources.ClientSystemTitle">
                    </InputHexAscii>
                    <ValidationMessage For="@(() => _clientSystemTitle)" />
                </th>
            </tr>
            <tr>
                <th>
                    <InputHexAscii @ref="@_deviceSystemTitle"
                               Disabled="@IsDeleting"
                               HexDisabled="@IsClientSystemTileDisabled()"
                               @bind-Value="DeviceSystemTitle"
                               Title="@Properties.Resources.DeviceSystemTitle">
                    </InputHexAscii>
                    <ValidationMessage For="@(() => _deviceSystemTitle)" />
                </th>
            </tr>
            <tr>
                <th>
                    <InputHexAscii @ref="@_blockCipherKey"
                               Disabled="@IsDeleting"
                               HexDisabled="@IsClientSystemTileDisabled()"
                               @bind-Value="BlockCipherKey"
                               Title="@Properties.Resources.BlockCipherKey">
                    </InputHexAscii>
                    <ValidationMessage For="@(() => _blockCipherKey)" />
                </th>
            </tr>
            <tr>
                <th>
                    <InputHexAscii @ref="@_authenticationKey"
                               Disabled="@IsDeleting"
                               HexDisabled="@IsClientSystemTileDisabled()"
                               @bind-Value="AuthenticationKey"
                               Title="@Properties.Resources.AuthenticationKey">
                    </InputHexAscii>
                    <ValidationMessage For="@(() => _authenticationKey)" />
                </th>
            </tr>
            </fieldset>
            @if (Active.Updated != null)
            {
                <div class="form-group">
                    <label>@Properties.Resources.Updated</label>
                    <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                       @bind-Value="Active.Updated" />
                </div>
            }
            @if (Active.Removed != null)
            {
                <div class="form-group">
                    <label>@Properties.Resources.Remove</label>
                    <InputDate Type="@InputDateType.DateTimeLocal" id="remove" class="form-control"
                       @bind-Value="Active.Removed" />
                </div>
            }
            @if (action == CrudAction.Delete)
            {
                <hr />
                <p>
                </p>
                <div class="form-group">
                    <InputRadioGroup @bind-Value="DeleteTarget">
                        <InputRadio Value="false">
                        </InputRadio>
                        <label>@Properties.Resources.TargetDisableQuestion</label><br>
                        <InputRadio Value="true">
                        </InputRadio>
                        <label>@Properties.Resources.TargetDeleteQuestion</label>
                    </InputRadioGroup>
                    <br />
                </div>
            }
        </table>
    </EditForm>
}
@code {
    private InputHexAscii? _clientSystemTitle;
    private InputHexAscii? _deviceSystemTitle;
    private InputHexAscii? _blockCipherKey;
    private InputHexAscii? _authenticationKey;
    private GXValidator? _validator;

    [CascadingParameter]
    private DeviceTemplateTab? Parent { get; set; }
    private GXDeviceTemplate? _active;

    private GXDeviceTemplate? Active
    {
        get
        {
            if (_active != null)
            {
                return _active;
            }
            return Parent?.Active;
        }
    }

    /// <summary>
    /// User action.
    /// </summary>
    [Parameter]
    public string? Action { get; set; }

    private CrudAction action;
    /// <summary>
    /// Selected item.
    /// </summary>
    [Parameter]
    public Guid? Id { get; set; }

    private bool DeleteTarget;
    private bool isLoading;
    List<GXDeviceTemplate> templates = new List<GXDeviceTemplate>();
    private string? fileName = null;

    public bool IsDeleting
    {
        get
        {
            return action == CrudAction.Delete;
        }
    }

    //User changes name of the Active.
    string? TemplateName
    {
        get
        {
            if (Active == null)
            {
                return null;
            }
            return Active.Name;
        }
        set
        {
            if (Active != null)
            {
                Active.Name = value;
            }
        }
    }

    public bool IsAdding
    {
        get
        {
            return action == CrudAction.Create;
        }
    }

    internal class Password
    {
        //Don't change this.
        public static string Key = "Gurux Ltd.";
    }

    private string? TemplateType
    {
        get
        {
            return Active?.Type;
        }
        set
        {
            foreach (GXDeviceTemplate it in templates)
            {
                if (Parent != null && it.Type == value)
                {
                    _active = it;
                    break;
                }
            }
        }
    }

    private bool IsCiphered()
    {
        if (Active?.Settings != null)
        {
            var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
            if (s == null)
            {
                return false;
            }
            if (s == null ||
                s.Security != (byte)Gurux.DLMS.Enums.Security.None)
            {
                return false;
            }
            return true;
        }
        return false;
    }

    private List<Gurux.DLMS.Enums.InterfaceType> GetInterfaceTypes()
    {
        List<Gurux.DLMS.Enums.InterfaceType> list = new List<Gurux.DLMS.Enums.InterfaceType>();
        list.Add(Gurux.DLMS.Enums.InterfaceType.HDLC);
        list.Add(Gurux.DLMS.Enums.InterfaceType.HdlcWithModeE);
        list.Add(Gurux.DLMS.Enums.InterfaceType.WRAPPER);
        list.Add(Gurux.DLMS.Enums.InterfaceType.WiredMBus);
        list.Add(Gurux.DLMS.Enums.InterfaceType.WirelessMBus);
        list.Add(Gurux.DLMS.Enums.InterfaceType.Plc);
        list.Add(Gurux.DLMS.Enums.InterfaceType.PlcHdlc);
        list.Add(Gurux.DLMS.Enums.InterfaceType.LPWAN);
        list.Add(Gurux.DLMS.Enums.InterfaceType.WiSUN);
        list.Add(Gurux.DLMS.Enums.InterfaceType.PlcPrime);
        list.Add(Gurux.DLMS.Enums.InterfaceType.SMS);
        return list;
    }

    private int InterfaceType
    {
        get
        {
            if (Active?.Settings != null)
            {
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                if (s == null)
                {
                    return 0;
                }
                return s.InterfaceType;
            }
            return 0;
        }
        set
        {
            if (Active?.Settings != null)
            {
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                if (s?.InterfaceType != value)
                {
                    s.InterfaceType = value;
                    Active.Settings = JsonSerializer.Serialize(s);
                }
            }
        }
    }

    private List<Gurux.DLMS.Enums.Authentication> GetAuthentications()
    {
        List<Gurux.DLMS.Enums.Authentication> list = new List<Gurux.DLMS.Enums.Authentication>();
        list.Add(Gurux.DLMS.Enums.Authentication.None);
        list.Add(Gurux.DLMS.Enums.Authentication.Low);
        list.Add(Gurux.DLMS.Enums.Authentication.High);
        list.Add(Gurux.DLMS.Enums.Authentication.HighMD5);
        list.Add(Gurux.DLMS.Enums.Authentication.HighSHA1);
        list.Add(Gurux.DLMS.Enums.Authentication.HighGMAC);
        list.Add(Gurux.DLMS.Enums.Authentication.HighSHA256);
        list.Add(Gurux.DLMS.Enums.Authentication.HighECDSA);
        return list;
    }

    private byte Authentication
    {
        get
        {
            if (Active?.Settings != null)
            {
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                if (s == null)
                {
                    return 0;
                }
                return s.Authentication;
            }
            return 0;
        }
        set
        {
            if (Active?.Settings != null)
            {
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                if (s?.Authentication != value)
                {
                    s.Authentication = value;
                    Active.Settings = JsonSerializer.Serialize(s);
                }
            }
        }
    }

    private bool IsClientSystemTileDisabled()
    {
        if (Active?.Settings != null)
        {
            var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
            if (s != null)
            {
                return s.Security == (byte)Gurux.DLMS.Enums.Security.None ||
                 s.Authentication != (byte)Gurux.DLMS.Enums.Authentication.HighGMAC;
            }
        }
        return false;
    }

    private string? ClientSystemTitle
    {
        get;
        set;
    }

    private string? DeviceSystemTitle
    {
        get;
        set;
    }

    private string? BlockCipherKey
    {
        get;
        set;
    }

    private string? AuthenticationKey
    {
        get;
        set;
    }


    /// <summary>
    /// Copy meter settings.
    /// </summary>
    /// <param name="target"></param>
    /// <param name="source"></param>
    public static void Copy(GXDeviceTemplate target, GXDLMSDevice source)
    {
        target.WaitTime = source.WaitTime;
        target.ResendCount = source.ResendCount;
        target.Type = source.Name;
        target.MediaType = source.MediaType;
        target.MediaSettings = source.MediaSettings;
        var settings = new Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings();
        settings.MaximumBaudRate = source.MaximumBaudRate;
        settings.Authentication = (byte)source.Authentication;
        settings.AuthenticationName = source.AuthenticationName;
        settings.Standard = (byte)source.Standard;
        settings.Password = source.Password;
        settings.HexPassword = source.HexPassword;
        settings.Security = (byte)source.Security;
        settings.ClientSystemTitle = source.SystemTitle;
        settings.DeviceSystemTitle = source.ServerSystemTitle;
        settings.DedicatedKey = source.DedicatedKey;
        settings.PreEstablished = source.PreEstablished;
        settings.BlockCipherKey = source.BlockCipherKey;
        settings.AuthenticationKey = source.AuthenticationKey;
        settings.InvocationCounter = source.InvocationCounter;
        settings.FrameCounter = source.FrameCounter;
        settings.Challenge = source.Challenge;
        settings.PhysicalAddress = source.PhysicalAddress;
        settings.LogicalAddress = source.LogicalAddress;
        settings.UtcTimeZone = source.UtcTimeZone;
        settings.ClientAddress = source.ClientAddress;
        settings.UseRemoteSerial = source.UseRemoteSerial;
        settings.InterfaceType = (int)source.InterfaceType;
        settings.MaxInfoTX = source.MaxInfoTX;
        settings.MaxInfoRX = source.MaxInfoRX;
        settings.WindowSizeTX = source.WindowSizeTX;
        settings.WindowSizeRX = source.WindowSizeRX;
        settings.PduSize = source.PduSize;
        settings.UserId = source.UserId;
        settings.NetworkId = source.NetworkId;
        settings.InactivityTimeout = source.InactivityTimeout;
        settings.ServiceClass = (byte)source.ServiceClass;
        settings.Priority = (byte)source.Priority;
        settings.ServerAddressSize = source.ServerAddressSize;
        settings.Conformance = source.Conformance;
        settings.Manufacturer = source.Manufacturer;
        settings.HDLCAddressing = (int)source.HDLCAddressing;
        settings.UseLogicalNameReferencing = source.UseLogicalNameReferencing;
        settings.UseProtectedRelease = source.UseProtectedRelease;
        target.Settings = JsonSerializer.Serialize(settings);
    }

    /// <summary>
    /// Get device templates from the XML.
    /// </summary>
    /// <param name="xml"></param>
    private void UpdateDeviceTemplates(string xml)
    {
        try
        {
            Notifier.ClearStatus();
            Notifier.ProgressStart();
            isLoading = true;
            StateHasChanged();
            templates = ClientHelpers.ConvertToTemplates(Logger, xml);
            if (Parent != null && templates.Any())
            {
                _active = templates[0];
            }
        }
        catch (Exception ex)
        {
            fileName = null;
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier.ProgressEnd();
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        fileName = e.File.Name;
        try
        {
            templates.Clear();
            Notifier?.ClearStatus();
            string xml;
            using (StreamReader reader = new StreamReader(e.File.OpenReadStream(8000000)))
            {
                xml = await reader.ReadToEndAsync();
            }
            await Task.Run(() => UpdateDeviceTemplates(xml));
        }
        catch (Exception ex)
        {
            fileName = null;
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Device template tab asks to update the UI.
    /// </summary>
    public void Update()
    {
        if (Active?.Settings != null)
        {
            var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
            if (s != null)
            {
                ClientSystemTitle = s?.ClientSystemTitle;
                DeviceSystemTitle = s?.DeviceSystemTitle;
                BlockCipherKey = s?.BlockCipherKey;
                AuthenticationKey = s?.AuthenticationKey;
            }
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (Active == null && Id != null)
            {
                Notifier.ProgressStart();
                Notifier.ClearStatus();
                Notifier.Clear();
                try
                {
                    //Get device template data.
                    var tmp = (await Http.GetAsJsonAsync<GetDeviceTemplateResponse>(string.Format("api/DeviceTemplate?id={0}", Id)));
                    if (tmp?.Item != null)
                    {
                        _active = tmp.Item;
                    }
                }
                finally
                {
                    Notifier?.ProgressEnd();
                }
            }
            if (Active == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidTarget);
            }
            action = ClientHelpers.GetAction(Action);
            if (action != CrudAction.Create)
            {
                templates.Add(Active);
            }

            if (action == CrudAction.Update && Active.Settings != null)
            {
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                if (s != null)
                {
                    ClientSystemTitle = s.ClientSystemTitle;
                    DeviceSystemTitle = s.DeviceSystemTitle;
                    BlockCipherKey = s.BlockCipherKey;
                    AuthenticationKey = s.AuthenticationKey;
                }
            }

            if (action == CrudAction.Delete)
            {
                Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Remove, Icon = "oi oi-trash", OnClick = OnSave });
            }
            else
            {
                Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Save, Icon = "oi oi-pencil", OnClick = OnSave });
            }
            Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Cancel, Icon = "oi oi-action-undo", OnClick = OnCancel });
            Notifier.UpdateButtons();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Validate the device content.
    /// </summary>
    /// <param name="sender"></param>
    private void OnValidate(GXValidator sender)
    {
        if (Active != null)
        {
            if (string.IsNullOrEmpty(Active.Name))
            {
                sender.AddError(() => Active.Name, "Invalid name.");
            }
            if (Active?.Settings != null)
            {
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                //Check security settings
                if (s != null)
                {
                    if (s.Security != (byte)Enums.Security.None)
                    {
                        if (!string.IsNullOrEmpty(ClientSystemTitle) && _clientSystemTitle != null)
                        {
                            if (_clientSystemTitle.GetByteArray().Length != 8)
                            {
                                sender.AddError(() => _clientSystemTitle, Properties.Resources.InvalidSystemTitle);
                            }
                        }
                        if (!string.IsNullOrEmpty(DeviceSystemTitle) && _deviceSystemTitle != null)
                        {
                            if (_deviceSystemTitle.GetByteArray().Length != 8)
                            {
                                sender.AddError(() => _deviceSystemTitle, Properties.Resources.InvalidSystemTitle);
                            }
                        }
                        if (!string.IsNullOrEmpty(BlockCipherKey) && _blockCipherKey != null)
                        {
                            var bytes = _blockCipherKey.GetByteArray();
                            if ((s.SecuritySuite != (int)Gurux.DLMS.Objects.Enums.SecuritySuite.Suite2 && bytes.Length != 16) ||
                            (s.SecuritySuite == (int)Gurux.DLMS.Objects.Enums.SecuritySuite.Suite2 && bytes.Length != 32))
                            {
                                sender.AddError(() => _blockCipherKey, Properties.Resources.InvalidBlockCipherKey);
                            }
                        }
                        if (!string.IsNullOrEmpty(AuthenticationKey) && _authenticationKey != null)
                        {
                            var bytes = _authenticationKey.GetByteArray();
                            if ((s.SecuritySuite != (int)Gurux.DLMS.Objects.Enums.SecuritySuite.Suite2 && bytes.Length != 16) ||
                            (s.SecuritySuite == (int)Gurux.DLMS.Objects.Enums.SecuritySuite.Suite2 && bytes.Length != 32))
                            {
                                sender.AddError(() => _authenticationKey, Properties.Resources.InvalidAuthenticationKey);
                            }
                        }
                    }
                }
            }
        }
    }

    /// <summary>
    /// Save device Active.
    /// </summary>
    public async void OnSave()
    {
        try
        {
            if (Active == null)
            {
                throw new Exception(Properties.Resources.InvalidTarget);
            }
            _validator?.ClearErrors();
            if (Active == null)
            {
                throw new Exception(Properties.Resources.InvalidTarget);
            }
            if (_validator != null && !_validator.Validate())
            {
                return;
            }
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            if (action == CrudAction.Delete)
            {
                await Http.PostAsJson<RemoveDeviceTemplateResponse>("api/DeviceTemplate/Delete", new RemoveDeviceTemplate()
                    {
                        Ids = new Guid[] { Active.Id },
                        Delete = DeleteTarget
                    });
            }
            else if (action == CrudAction.Create)
            {
                await Http.PostAsJson<UpdateDeviceTemplateResponse>("api/DeviceTemplate/Add", new UpdateDeviceTemplate()
                    {
                        Templates = new GXDeviceTemplate[] { Active }
                    });
            }
            else if (action == CrudAction.Update)
            {
                //Update settings
                var s = JsonSerializer.Deserialize<Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings>(Active.Settings);
                if (s != null)
                {
                    var options = new JsonSerializerOptions
                        {
                            DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingDefault
                        };
                    s.ClientSystemTitle = GXDLMSTranslator.ToHex(_clientSystemTitle?.GetByteArray(), false);
                    s.DeviceSystemTitle = GXDLMSTranslator.ToHex(_deviceSystemTitle?.GetByteArray(), false);
                    s.BlockCipherKey = GXDLMSTranslator.ToHex(_blockCipherKey?.GetByteArray(), false);
                    s.AuthenticationKey = GXDLMSTranslator.ToHex(_authenticationKey?.GetByteArray(), false);
                    Active.Settings = JsonSerializer.Serialize(s, options);
                }
                await Http.PostAsJson<UpdateDeviceTemplateResponse>("api/DeviceTemplate/Update", new UpdateDeviceTemplate()
                    {
                        Templates = new GXDeviceTemplate[] { Active }
                    });
            }
            else
            {
                throw new Exception(Properties.Resources.InvalidTarget);
            }
            ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Cancel update.
    /// </summary>
    private void OnCancel()
    {
        ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
    }
}
