@page "/DeviceTemplates"
@page "/DeviceTemplates/{Action}/{Id:guid?}"

@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.DTOs.Manufacturer;

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Microsoft.AspNetCore.SignalR.Client
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Client.Helpers
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Module

@attribute [Authorize(Roles = "Admin, TemplateManager")]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@implements IDisposable


<AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.DeviceTemplateManager)>
    <MenuControl RightCorner="true">
        <ChildContent>
            <MenuItem Text="@Properties.Resources.Add" Icon="oi oi-plus" OnClick="@OnAdd" />
            <MenuItem Text="@Properties.Resources.Remove" Icon="oi oi-trash" OnClick="@OnRemove" />
        </ChildContent>
    </MenuControl>
</AuthorizeView>

<GXTable @ref="table"
         Context="template"
         ItemsProvider="@GetItems"
         SelectionMode="SelectionMode.Multiple"
         Filter="@Filter"
         ShowAllUsers="@Header"
         ShowRemoved="@Header"
         CanEdit="@CanEdit"
         Columns="@Columns"
         OnSearch="@Updated">
    <FilterContent>
        <th>
            <!--Manufacturer-->
            @if (filter.Manufacturer != null)
            {
                <input class="form-control" placeholder="@Properties.Resources.Manufacturer"
                       type="text"
                       @onchange="@((ChangeEventArgs __e) => filter.Manufacturer.Name = Convert.ToString(__e.Value))" />
            }
        </th>
        <th>
            <!--Model-->
            @if (filter.Manufacturer?.Models?.FirstOrDefault() is GXDeviceModel mod)
            {
                <input class="form-control" placeholder="@Properties.Resources.Model"
                       type="text"
                       @onchange="@((ChangeEventArgs __e) => mod.Name = Convert.ToString(__e.Value))" />
            }
        </th>
        <th>
            <!--Version-->
            @if (filter.Manufacturer?.Models?.FirstOrDefault()?.Versions?.FirstOrDefault() is GXDeviceVersion ver)
            {
                <input class="form-control" placeholder="@Properties.Resources.Version"
                       type="text"
                       @onchange="@((ChangeEventArgs __e) => ver.Name = Convert.ToString(__e.Value))" />
            }
        </th>
        <th>
            <input class="form-control" placeholder="@Properties.Resources.FilterByName"
                   type="text"
                   @onchange="@((ChangeEventArgs __e) => filter.Name = Convert.ToString(__e.Value))" />
        </th>
        <th>
            <input class="form-control" placeholder="Filter by creation time..."
                   type="datetime-local"
                   @onchange="@((ChangeEventArgs __e) => filter.CreationTime = @StatusTile.ToDateTime(__e.Value))" />
        </th>
        <th>
            <input class="form-control" placeholder="Filter by updated time..."
                   type="datetime-local"
                   @onchange="@((ChangeEventArgs __e) => filter.Updated = @StatusTile.ToDateTime(__e.Value))" />
        </th>
    </FilterContent>
    <MenuContent>
        <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.AgentGroupManager)>
            <ContextMenuItem Text="@Properties.Resources.Edit" Icon="oi oi-pencil" OnClick="@OnEdit"></ContextMenuItem>
            <ContextMenuItem Text="@Properties.Resources.Remove" Icon="oi oi-trash" OnClick="@OnRemove"></ContextMenuItem>
        </AuthorizeView>
    </MenuContent>
    <HeaderContent>
        <th>@Properties.Resources.Manufacturer</th>
        <th>@Properties.Resources.Model</th>
        <th>@Properties.Resources.Version</th>
        <Th Id="Name">@Properties.Resources.Name</Th>
            <Th Id="CreationTime" SortMode="SortMode.Descending">@Properties.Resources.CreationTime</Th>
            <Th Id="Updated">@Properties.Resources.Updated</Th>
        </HeaderContent>
        <ItemContent>
            <td>@template.Manufacturer?.Name</td>
        <td>@template.Manufacturer?.Models?.FirstOrDefault()?.Name</td>
        <td>@GetVersionName(template)</td>
        <Td Link="@("DeviceTemplate/Edit/" + template.Id)">@template.Name</Td>
            <td>@template.CreationTime</td>
        <td>@template.Updated</td>
    </ItemContent>
</GXTable>
<br />
<Confirm @ref="DeleteConfirmation"
         ConfirmationChanged="OnDeleteConfirmation"
         OkTitle="@Properties.Resources.Remove"
         ConfirmationMessage=""
         ConfirmationTitle="@Properties.Resources.AreYouSureYouWantToDeleteSelectedItems">
</Confirm>
@code {

    private string GetVersionName(GXDeviceTemplate template)
    {
        var ver = template.Manufacturer?.Models?.FirstOrDefault()?.Versions?.FirstOrDefault();
        if (string.IsNullOrEmpty(ver?.Name))
        {
            return Properties.Resources.Generic;
        }
        return ver.Name;
    }

    /// <summary>
    /// Selected device template ID.
    /// </summary>
    [Parameter]
    public Guid? Id { get; set; }

    /// <inheritdoc />
    public string Name
    {
        get
        {
            return Gurux.DLMS.AMI.Client.Properties.Resources.DeviceTemplates;
        }
    }

    /// <inheritdoc />
    public Type? ConfigurationUI
    {
        get
        {
            return null;
        }
    }

    /// <inheritdoc />
    public string? Icon
    {
        get
        {
            return "oi oi-tablet";
        }
    }

    /// <summary>
    /// Amount of the device templates shown on the view.
    /// </summary>
    [Parameter]
    public int Count { get; set; } = 0;

    /// <summary>
    /// Is filter shown.
    /// </summary>
    [Parameter]
    public bool Filter { get; set; } = true;

    /// <summary>
    /// Is header shown.
    /// </summary>
    [Parameter]
    public bool Header { get; set; } = true;

    /// <summary>
    /// Is edit allowed.
    /// </summary>
    [Parameter]
    public bool CanEdit { get; set; } = true;

    /// <summary>
    /// Available columns.
    /// </summary>
    [Parameter]
    public string[]? Columns { get; set; }

    /// <summary>
    /// Is title shown.
    /// </summary>
    [Parameter]
    public bool Title { get; set; } = true;

    /// <summary>
    /// Device template filter.
    /// </summary>
    private GXDeviceTemplate filter = new GXDeviceTemplate();
    /// <summary>
    /// User is verified before device template is removed.
    /// </summary>
    protected ConfirmBase? DeleteConfirmation;

    /// <summary>
    /// Active item.
    /// </summary>
    public GXDeviceTemplate? Active
    {
        get
        {
            return table?.Active;
        }
    }

    /// <summary>
    /// Table reference.
    /// </summary>
    protected GXTable<GXDeviceTemplate>? table;

    /// <summary>
    /// Update table.
    /// </summary>
    protected async Task Updated()
    {
        try
        {
            if (table != null)
            {
                Notifier?.ClearStatus();
                await table.RefreshDataAsync(true);
            }
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        GXDeviceVersion version = new GXDeviceVersion(null);
        GXDeviceModel model = new GXDeviceModel(null);
        model.Versions.Add(version);
        filter.Manufacturer = new GXManufacturer(null);
        filter.Manufacturer.Models.Add(model);
        //Wait until table is loaded. Don't remove this or table is null and last settings are not available.
        await Task.Delay(1);
        try
        {
            if (Notifier == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidNotifier);
            }
            Notifier.ClearStatus();
            Notifier.On<IEnumerable<GXDeviceTemplate>>(this, nameof(IGXHubEvents.DeviceTemplateUpdate), async (deviceTemplates) =>
            {
                await Updated();
            });
            Notifier.On<IEnumerable<GXDeviceTemplate>>(this, nameof(IGXHubEvents.DeviceTemplateDelete), async (deviceTemplates) =>
            {
                await Updated();
            });
            Notifier.Clear();
            Notifier.UpdateButtons();
            if (table != null && Id != null)
            {
                //Get last selected item.
                table.Active = new GXDeviceTemplate() { Id = Id.Value };
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    private async ValueTask<ItemsProviderResult<GXDeviceTemplate>> GetItems(GXItemsProviderRequest request)
    {
        //Don't clear status or error is lost.
        Notifier?.ProgressStart();
        try
        {
            if (request.Removed)
            {
                filter.Removed = DateTimeOffset.MaxValue;
            }
            else
            {
                filter.Removed = null;
            }
            ListDeviceTemplates req = new ListDeviceTemplates()
                {
                    Index = request.StartIndex,
                    Count = request.Count,
                    Filter = filter,
                    OrderBy = request.OrderBy,
                    Descending = request.Descending,
                    AllUsers = request.ShowAllUserData,
                    //Get manufacturer settings.
                    Select = new string[] { "Manufacturer" }
                };
            if (Count != 0)
            {
                req.Count = Count;
            }
            var ret = await Http.PostAsJson<ListDeviceTemplatesResponse>("api/DeviceTemplate/List", req, request.CancellationToken);
            return new ItemsProviderResult<GXDeviceTemplate>(ret.Templates, ret.Count);
        }
        catch (TaskCanceledException)
        {
            //Let the table component handle this.
            throw;
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
        return default;
    }

    /// <summary>
    /// Add new device template.
    /// </summary>
    public void OnAdd()
    {
        try
        {
            Notifier.ClearStatus();
            ClientHelpers.NavigateTo(NavigationManager, Notifier, "/DeviceTemplate/Add");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Edit device template.
    /// </summary>
    public void OnEdit()
    {
        try
        {
            Notifier?.ClearStatus();
            if (table?.Active == null)
            {
                throw new Exception(Gurux.DLMS.AMI.Client.Properties.Resources.NoItemIsSelected);
            }
            ClientHelpers.NavigateTo(NavigationManager, Notifier, "/DeviceTemplate/Edit/" + table?.Active.Id);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Remove selected device templates.
    /// </summary>
    public void OnRemove()
    {
        try
        {
            if (table == null || !table.SingleOrDefault().Any())
            {
                throw new Exception(Gurux.DLMS.AMI.Client.Properties.Resources.NoItemIsSelected);
            }
            DeleteConfirmation?.Show(table?.SingleOrDefault()?.Select(s => s.Name).ToArray());
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Delete the selected device templates.
    /// </summary>
    public async Task OnDeleteConfirmation(ConfirmArgs args)
    {
        if (table != null && args.Confirm)
        {
            try
            {
                Notifier.ProgressStart();
                RemoveDeviceTemplate req = new RemoveDeviceTemplate()
                    {
                        Delete = args.Delete,
                        Ids = table.SingleOrDefault().Select(w => w.Id).ToArray()
                    };
                await Http.PostAsJson<RemoveDeviceTemplateResponse>("api/DeviceTemplate/Delete", req);
            }
            catch (AccessTokenNotAvailableException exception)
            {
                exception.Redirect();
            }
            catch (Exception ex)
            {
                Notifier?.ProcessError(ex);
            }
            finally
            {
                Notifier.ProgressEnd();
            }
        }
    }

    public void Dispose()
    {
        Notifier.RemoveListener(this);
    }
}

