@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Gurux.DLMS
@using Gurux.DLMS.ManufacturerSettings
@using Gurux.DLMS.Objects
@using System.Xml.Linq
@using System.IO
@using System.Xml
@using System.Xml.Serialization
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Client.Helpers
@using Gurux.DLMS.AMI.Module
@using System.Text.Json
@using System.Web;

@attribute [Authorize(Roles = "Admin, TemplateManager")]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@inject ILogger<DeviceTemplate> Logger

@if (Active != null)
{
    <EditForm Model="@Active">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <table>
            <tr>
                <th>
                    @if (isLoading)
                    {
                        <p>Loading @fileName...</p>
                    }
                    else
                    {
                        @if (IsAdding)
                        {
                            <p><InputFile OnChange="@LoadFile" /></p>
                        }
                        @if (IsAdding && templates != null && templates.Any())
                        {
                        <th>Type:</th>
                        <InputSelect id="type" @bind-Value="TemplateType" placeholder="Device Active type">
                                @foreach (var it in templates)
                                {
                                <option value="@it.Type">@it.Type</option>
                                }
                        </InputSelect>
                        }
                    }
                </th>
            </tr>
            <tr>
                <th>
                    Name:
                </th>
                <th>
                    <InputText id="name" disabled="@IsDeleting"
                           @bind-Value="TemplateName"
                               placeholder="Device Active name" />
                </th>
            </tr>
            <tr>
                <th>
                    Wait time:
                </th>
                <th>
                    <InputNumber id="waitTime" disabled="@IsDeleting"
                             @bind-Value="Active.WaitTime" />
                </th>
            </tr>
            <tr>
                <th>
                    Resend count:
                </th>
                <th>
                    <InputNumber id="resendCount" disabled="@IsDeleting"
                             @bind-Value="Active.ResendCount" />
                </th>
            </tr>
            @if (Active.Updated != null)
            {
                <div class="form-group">
                    <label>@Properties.Resources.Updated</label>
                    <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                       @bind-Value="Active.Updated" />
                </div>
            }
            @if (Active.Removed != null)
            {
                <div class="form-group">
                    <label>@Properties.Resources.Remove</label>
                    <InputDate Type="@InputDateType.DateTimeLocal" id="remove" class="form-control"
                       @bind-Value="Active.Removed" />
                </div>
            }
            @if (action == CrudAction.Delete)
            {
                <hr />
                <p>
                </p>
                <div class="form-group">
                    <InputRadioGroup @bind-Value="DeleteTarget">
                        <InputRadio Value="false">
                        </InputRadio>
                        <label>@Properties.Resources.TargetDisableQuestion</label><br>
                        <InputRadio Value="true">
                        </InputRadio>
                        <label>@Properties.Resources.TargetDeleteQuestion</label>
                    </InputRadioGroup>
                    <br />
                </div>
            }
        </table>
    </EditForm>
}
@code {

    [CascadingParameter]
    private DeviceTemplateTab? Parent { get; set; }
    private GXDeviceTemplate? _active;

    private GXDeviceTemplate? Active
    {
        get
        {
            if (_active != null)
            {
                return _active;
            }
            return Parent?.Active;
        }
    }

    /// <summary>
    /// User action.
    /// </summary>
    [Parameter]
    public string? Action { get; set; }

    private CrudAction action;
    /// <summary>
    /// Selected item.
    /// </summary>
    [Parameter]
    public Guid? Id { get; set; }

    private bool DeleteTarget;
    private bool isLoading;
    List<GXDeviceTemplate> templates = new List<GXDeviceTemplate>();
    private string? fileName = null;

    public string? IsDeleting
    {
        get
        {
            if (action != CrudAction.Delete)
            {
                return null;
            }
            return "disabled";
        }
    }

    //User changes name of the Active.
    string? TemplateName
    {
        get
        {
            if (Active == null)
            {
                return null;
            }
            return Active.Name;
        }
        set
        {
            if (Active != null)
            {
                Active.Name = value;
            }
        }
    }

    public bool IsAdding
    {
        get
        {
            return action == CrudAction.Create;
        }
    }

    internal class Password
    {
        //Don't change this.
        public static string Key = "Gurux Ltd.";
    }

    private string? TemplateType
    {
        get
        {
            return Active?.Type;
        }
        set
        {
            foreach (GXDeviceTemplate it in templates)
            {
                if (Parent != null && it.Type == value)
                {
                    _active = it;
                    break;
                }
            }
        }
    }

    /// <summary>
    /// Copy meter settings.
    /// </summary>
    /// <param name="target"></param>
    /// <param name="source"></param>
    public static void Copy(GXDeviceTemplate target, GXDLMSDevice source)
    {
        target.WaitTime = source.WaitTime;
        target.ResendCount = source.ResendCount;
        target.Type = source.Name;
        target.MediaType = source.MediaType;
        target.MediaSettings = source.MediaSettings;
        var settings = new Gurux.DLMS.AMI.Shared.DTOs.GXDLMSSettings();
        settings.MaximumBaudRate = source.MaximumBaudRate;
        settings.Authentication = (byte)source.Authentication;
        settings.Standard = (byte)source.Standard;
        settings.Password = source.Password;
        settings.HexPassword = source.HexPassword;
        settings.Security = (byte)source.Security;
        settings.ClientSystemTitle = source.SystemTitle;
        settings.DeviceSystemTitle = source.ServerSystemTitle;
        settings.DedicatedKey = source.DedicatedKey;
        settings.PreEstablished = source.PreEstablished;
        settings.BlockCipherKey = source.BlockCipherKey;
        settings.AuthenticationKey = source.AuthenticationKey;
        settings.InvocationCounter = source.InvocationCounter;
        settings.FrameCounter = source.FrameCounter;
        settings.Challenge = source.Challenge;
        settings.PhysicalAddress = source.PhysicalAddress;
        settings.LogicalAddress = source.LogicalAddress;
        settings.UtcTimeZone = source.UtcTimeZone;
        settings.ClientAddress = source.ClientAddress;
        settings.UseRemoteSerial = source.UseRemoteSerial;
        settings.InterfaceType = (int)source.InterfaceType;
        settings.MaxInfoTX = source.MaxInfoTX;
        settings.MaxInfoRX = source.MaxInfoRX;
        settings.WindowSizeTX = source.WindowSizeTX;
        settings.WindowSizeRX = source.WindowSizeRX;
        settings.PduSize = source.PduSize;
        settings.UserId = source.UserId;
        settings.NetworkId = source.NetworkId;
        settings.InactivityTimeout = source.InactivityTimeout;
        settings.ServiceClass = (byte)source.ServiceClass;
        settings.Priority = (byte)source.Priority;
        settings.ServerAddressSize = source.ServerAddressSize;
        settings.Conformance = source.Conformance;
        settings.Manufacturer = source.Manufacturer;
        settings.HDLCAddressing = (int)source.HDLCAddressing;
        settings.UseLogicalNameReferencing = source.UseLogicalNameReferencing;
        settings.UseProtectedRelease = source.UseProtectedRelease;
        target.Settings = JsonSerializer.Serialize(settings);
    }

    private async void UpdateDeviceTemplates(string xml)
    {
        try
        {
            Notifier.ClearStatus();
            Notifier.ProgressStart();
            isLoading = true;
            StateHasChanged();
            GXDLMSDevice[] devices;
            using (var tr = new StringReader(xml))
            {
                List<Type> types = new List<Type>(Gurux.DLMS.GXDLMSClient.GetObjectTypes());
                types.Add(typeof(GXDLMSAttributeSettings));
                types.Add(typeof(GXDLMSAttribute));
                XmlSerializer serializer = new XmlSerializer(typeof(GXDLMSDevice[]), null, types.ToArray(), null, "Gurux1");
                devices = (GXDLMSDevice[])serializer.Deserialize(tr);
            }
            GXDeviceTemplate m = new GXDeviceTemplate();
            foreach (GXDLMSDevice it in devices)
            {
                int AssociationViewVersion = 1;
                GXDeviceTemplate t = new GXDeviceTemplate();
                Copy(t, it);
                List<GXObjectTemplate> list = new List<GXObjectTemplate>();
                if (it.Objects.Count == 0)
                {
                    throw new Exception("There are no objects. Read the association view first.");
                }

                if (it.UseLogicalNameReferencing)
                {
                    GXDLMSObjectCollection objs = it.Objects.GetObjects(Enums.ObjectType.AssociationLogicalName);
                    if (objs.Any())
                    {
                        GXDLMSAssociationLogicalName? ln = objs[0] as GXDLMSAssociationLogicalName;
                        if (ln != null)
                        {
                            AssociationViewVersion = ln.Version;
                        }
                    }
                }

                foreach (GXDLMSObject value in it.Objects)
                {
                    string[] names = ((IGXDLMSBase)value).GetNames();
                    GXObjectTemplate obj = new GXObjectTemplate()
                        {
                            LogicalName = value.LogicalName,
                            ObjectType = (int)value.ObjectType,
                            Name = value.Description,
                            Version = value.Version,
                            ShortName = value.ShortName,
                            Attributes = new List<GXAttributeTemplate>()
                        };
                    list.Add(obj);
                    for (int pos = 2; pos <= ((IGXDLMSBase)value).GetAttributeCount(); ++pos)
                    {
                        GXAttributeTemplate a = new GXAttributeTemplate();
                        a.Name = names[pos - 1];
                        a.Index = pos;
                        a.Weight = pos - 1;
                        if (AssociationViewVersion < 3)
                        {
                            a.AccessLevel = (int)value.GetAccess(pos);
                        }
                        else
                        {
                            a.AccessLevel = (int)value.GetAccess3(pos);
                        }
                        a.DataType = (int)((IGXDLMSBase)value).GetDataType(pos);
                        a.UIDataType = (int)((GXDLMSObject)value).GetUIDataType(pos);
                        if (value.GetStatic(pos))
                        {
                            a.ExpirationTime = DateTime.MaxValue;
                        }
                        if (value is GXDLMSProfileGeneric)
                        {
                            //Capture objects.
                            if (pos == 3 ||
                                //Capture Period
                                pos == 4 ||
                                //Sort Method
                                pos == 5 ||
                                //Sort Object
                                pos == 6 ||
                                //Profile Entries
                                pos == 8)
                            {
                                a.ExpirationTime = DateTime.MaxValue;
                            }
                        }
                        if (value is GXDLMSAssociationLogicalName)
                        {
                            //Object List.
                            if (pos == 2 ||
                                //Associated partners Id
                                pos == 3 ||
                                //Application Context Name.
                                pos == 4 ||
                                // xDLMS Context Info.
                                pos == 5 ||
                                //Authentication Mechanism Name.
                                pos == 6 ||
                                //Secret.
                                pos == 7)
                            {
                                a.ExpirationTime = DateTime.MaxValue;
                            }
                        }
                        if (a.DataType == (int)Gurux.DLMS.Enums.DataType.Enum)
                        {
                            //Add enum values as list items.
                            try
                            {
                                object tmp = value.GetValues()[pos - 1];
                                if (tmp != null)
                                {
                                    foreach (var v in Enum.GetValues(tmp.GetType()))
                                    {
                                        GXAttributeListItem li = new()
                                            {
                                                UIValue = v.ToString(),
                                                Value = Convert.ToInt32(v)
                                            };
                                        a.ListItems.Add(li);
                                    }
                                }
                            }
                            catch (Exception ex)
                            {
                                //It's OK if this fails.
                                Logger.LogError(ex.Message);
                            }
                        }
                        //Profile generic capture objects are not read as default.
                        if (value is GXDLMSProfileGeneric && pos == 3)
                        {
                            a.ExpirationTime = DateTime.MaxValue;
                        }
                        //Scaler and unit are read only once.
                        if (value is GXDLMSRegister && pos == 3)
                        {
                            a.ExpirationTime = DateTime.MaxValue;
                        }
                        obj.Attributes.Add(a);
                    }
                    string sb = "";
                    if (AssociationViewVersion < 3)
                    {
                        for (int pos = 1; pos <= ((IGXDLMSBase)value).GetMethodCount(); ++pos)
                        {
                            sb += ((int)value.GetMethodAccess(pos)).ToString();
                        }
                    }
                    else
                    {
                        sb = "0x";
                        for (int pos = 1; pos <= ((IGXDLMSBase)value).GetMethodCount(); ++pos)
                        {
                            sb += ((int)value.GetMethodAccess3(pos)).ToString("X");
                        }
                    }
                    obj.ActionAccessLevels = sb;
                    t.Objects = list;
                }
                templates.Add(t);
            }
            if (Parent != null && templates.Any())
            {
                _active = templates[0];
            }
        }
        catch (Exception ex)
        {
            fileName = null;
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier.ProgressEnd();
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        fileName = e.File.Name;
        try
        {
            templates.Clear();
            Notifier?.ClearStatus();
            string xml;
            using (StreamReader reader = new StreamReader(e.File.OpenReadStream(8000000)))
            {
                xml = await reader.ReadToEndAsync();
            }
            await Task.Run(() => UpdateDeviceTemplates(xml));
        }
        catch (Exception ex)
        {
            fileName = null;
            Notifier?.ProcessError(ex);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            Notifier.Clear();
            if (Active == null && Id != null)
            {
                //Get device template data.
                var tmp = (await Http.GetAsJsonAsync<GetDeviceTemplateResponse>(string.Format("api/DeviceTemplate?id={0}", Id)));
                if (tmp?.Item != null)
                {
                    _active = tmp.Item;
                }
            }
            if (Active == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidTarget);
            }
            action = ClientHelpers.GetAction(Action);
            if (action != CrudAction.Create)
            {
                templates.Add(Active);
            }
            if (action == CrudAction.Delete)
            {
                Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Remove, Icon = "oi oi-trash", OnClick = OnSave });
            }
            else
            {
                Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Save, Icon = "oi oi-pencil", OnClick = OnSave });
            }
            Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Cancel, Icon = "oi oi-action-undo", OnClick = OnCancel });
            Notifier.UpdateButtons();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Save device Active.
    /// </summary>
    public async void OnSave()
    {
        try
        {
            if (Active == null)
            {
                throw new Exception(Properties.Resources.InvalidTarget);
            }
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            if (action == CrudAction.Delete)
            {
                await Http.PostAsJson<RemoveDeviceTemplateResponse>("api/DeviceTemplate/Delete", new RemoveDeviceTemplate()
                    {
                        Ids = new Guid[] { Active.Id },
                        Delete = DeleteTarget
                    });
            }
            else if (action == CrudAction.Create)
            {
                await Http.PostAsJson<UpdateDeviceTemplateResponse>("api/DeviceTemplate/Add", new UpdateDeviceTemplate()
                    {
                        Templates = new GXDeviceTemplate[] { Active }
                    });
            }
            else if (action == CrudAction.Update)
            {
                await Http.PostAsJson<UpdateDeviceTemplateResponse>("api/DeviceTemplate/Update", new UpdateDeviceTemplate()
                    {
                        Templates = new GXDeviceTemplate[] { Active }
                    });
            }
            else
            {
                throw new Exception(Properties.Resources.InvalidTarget);
            }
            ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Cancel update.
    /// </summary>
    private void OnCancel()
    {
        ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
    }
}
