@page "/objecttemplates"
@using Gurux.DLMS.AMI.Client.Helpers.ContextMenu
@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Microsoft.AspNetCore.SignalR.Client
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Client.Helpers
@using Gurux.DLMS.AMI.Module

@attribute [Authorize(Roles = "Admin, TemplateManager")]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@implements IDisposable


<AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.TemplateManager)>
    <MenuControl RightCorner="true">
        <ChildContent>
            <MenuItem Text="@Properties.Resources.Add" Icon="oi oi-plus" OnClick="@(async () => OnAdd())" />
        </ChildContent>
    </MenuControl>
</AuthorizeView>

<MenuControl>
    <ChildContent>
        <MenuItem Text="@Properties.Resources.Search" Icon="oi oi-magnifying-glass" OnClick="@(async () => Updated())" />
    </ChildContent>
</MenuControl>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <input class="form-control" placeholder="@Properties.Resources.FilterByName"
                       type="text"
                       @onchange="@((ChangeEventArgs __e) => filter.Name = Convert.ToString(__e.Value))" />
            </th>
            <th>
                <input class="form-control" placeholder="Filter by expiration time..."
                       type="datetime-local"
                       @onchange="@((ChangeEventArgs __e) => filter.LogicalName = Convert.ToString(__e.Value))" />
            </th>
        </tr>
        <tr>
            <th>@Properties.Resources.ObjectType</th>
            <th>@Properties.Resources.Name</th>
            <th>@Properties.Resources.LogicalName</th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize @ref="virtualize" Context="template" ItemsProvider="@GetItems">
            <ItemContent>
                <tr class=@(GetSelectedClass(template)) @onclick="@(()=>RowSelected(template))">
                    <td>@GetObjectType(template.ObjectType)</td>
                    <td>@template.Name</td>
                    <td>@template.LogicalName</td>
                    @if (_active == template)
                    {
                        <td>
                            <ContextMenuController>
                                <ChildContent>
                                    <ContextMenuItem Text="@Properties.Resources.Edit" Icon="oi oi-pencil" OnClick="async () => OnEdit()"></ContextMenuItem>
                                    <ContextMenuItem Text="@Properties.Resources.Remove" Icon="oi oi-trash" OnClick="async () => OnRemove()"></ContextMenuItem>
                                </ChildContent>
                            </ContextMenuController>
                        </td>
                    }
                    else
                    {
                        <td>&nbsp;&nbsp;&nbsp;</td>
                    }
                </tr>
            </ItemContent>
            <Placeholder>
                <p>
                    @Properties.Resources.Loading&hellip;
                </p>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>
<br />
@code {
    /// <summary>
    /// Object template filter.
    /// </summary>
    private GXObjectTemplate filter = new GXObjectTemplate();
    /// <summary>
    /// User is verified before schedule is removed.
    /// </summary>
    protected ConfirmBase DeleteConfirmation;
    /// <summary>
    /// Virtualize.
    /// </summary>
    protected Virtualize<GXObjectTemplate>? virtualize;
    /// <summary>
    /// Selected item.
    /// </summary>
    private GXObjectTemplate? _active;

    /// <summary>
    /// Update virtualized items.
    /// </summary>
    protected async void Updated()
    {
        try
        {
            if (virtualize != null)
            {
                Notifier?.ClearStatus();
                await virtualize.RefreshDataAsync();
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    //Get object type as a string.
    public string GetObjectType(int value)
    {
        return ((Gurux.DLMS.Enums.ObjectType)value).ToString();
    }

    protected string GetSelectedClass(GXObjectTemplate template)
    {
        return _active != null && template.Id == _active.Id ? "table-info" : "table-striped";
    }


    protected void RowSelected(GXObjectTemplate selected)
    {
        this._active = selected;
        Notifier.UpdateData(GXPages.ObjectTemplates, selected);
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (Notifier == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidNotifier);
            }
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            _active = (GXObjectTemplate?)Notifier.GetData(GXPages.ObjectTemplates);
            Notifier.On<GXObjectTemplate>(this, nameof(IGXHubEvents.ObjectTemplateUpdate), (objectTemplate) =>
            {
                Updated();
            });
            Notifier.On<GXObjectTemplate>(this, nameof(IGXHubEvents.ObjectTemplateDelete), (objectTemplate) =>
            {
                Updated();
            });
            Notifier.Clear();
            Notifier.ChangePage(GXPages.ObjectTemplates, _active);
            Notifier.UpdateButtons();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    private async ValueTask<ItemsProviderResult<GXObjectTemplate>> GetItems(ItemsProviderRequest request)
    {
        //Don't clear status or error is lost.
        Notifier?.ProgressStart();
        try
        {
            //Get selected item.
            GXDeviceTemplate template = (GXDeviceTemplate)Notifier.GetData(GXPages.DeviceTemplate);
            List<GXObjectTemplate> list = new List<GXObjectTemplate>();
            list.AddRange(template.Objects);
            if (!string.IsNullOrEmpty(filter.Name))
            {
                list.RemoveAll(q => q.Name.ToUpper().Contains(filter.Name.ToUpper()) == false);
            }
            return new ItemsProviderResult<GXObjectTemplate>(list, list.Count);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
        return default;
    }

    /// <summary>
    /// Add new object template.
    /// </summary>

    public void OnAdd()
    {
        try
        {
            Notifier.Title = "New object Template";
            Notifier.Action = CrudAction.Create;
            NavigationManager.NavigateTo("/deviceTemplate/");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Edit object template.
    /// </summary>

    public void OnEdit()
    {
        try
        {
            Notifier?.ClearStatus();
            if (_active == null)
            {
                throw new Exception(Gurux.DLMS.AMI.Client.Properties.Resources.NoItemIsSelected);
            }
            Notifier.Title = "Edit Device Template";
            Notifier.Action = CrudAction.Update;
            Notifier.UpdateData("objecttemplates", _active);
            NavigationManager.NavigateTo("/deviceTemplate");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }


    /// <summary>
    /// Remove selected object template.
    /// </summary>

    public void OnRemove()
    {
        try
        {
            Notifier?.ClearStatus();
            if (_active == null)
            {
                throw new Exception(Gurux.DLMS.AMI.Client.Properties.Resources.NoItemIsSelected);
            }
            Notifier.Title = "Remove object Template";
            Notifier.Action = CrudAction.Delete;
            Notifier.UpdateData("objecttemplates", _active);
            NavigationManager.NavigateTo("/deviceTemplate/");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    public void Dispose()
    {
        Notifier.RemoveLastPage(GXPages.ObjectTemplates);
        Notifier.RemoveListener(this);
    }
}

