@page "/trigger"
@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Module
@using System.Globalization

@attribute [Authorize(Roles = GXRoles.Admin + "," + GXRoles.Trigger)]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@if (_active != null)
{
    <EditForm Model="@_active">
        <div class="row">
            <div style="width:100%">
                <div class="form-group">
                    <InputNullableCheckbox @bind-Value="_active.Active" />
                    <label>@Properties.Resources.Active</label>
                    <br />
                </div>
                <div class="form-group">
                    <label>@Properties.Resources.Name</label>
                    <InputText id="name" disabled="disabled" @bind-Value="_active.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Activities</label>
                    <ul class="form-control">
                        @if (_active.Activities != null)
                        {
                            @foreach (var it in _active.Activities)
                            {
                                <li>@it.Name</li>
                            }
                        }
                    </ul>
                </div>
                @if (_active.CreationTime != DateTime.MinValue)
                {
                    <div class="form-group">
                        <label>@Properties.Resources.CreationTime</label>
                        <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                           @bind-Value="_active.CreationTime" />
                    </div>
                }
                @if (_active.Updated != null)
                {
                        <div class="form-group">
                            <label>@Properties.Resources.Updated</label>
                                <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                           @bind-Value="_active.Updated" />
                            </div>
                }
                @if (_active.Removed != null)
                {
                            <div class="form-group">
                                <label>@Properties.Resources.Removed</label>
                                <InputDate Type="@InputDateType.DateTimeLocal" id="removed" class="form-control"
                           @bind-Value="_active.Removed" />
                            </div>
                }               
            </div>
        </div>
    </EditForm>
}
@code {
    private GXTrigger? _active;
    private string SubmitText = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (Notifier == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidNotifier);
            }
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            //Get selected item.
            _active = (GXTrigger?)Notifier.GetData(GXPages.Triggers);
            if (_active == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidTarget);
            }

            SubmitText = Notifier.Title;
            Notifier.Clear();
            Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Cancel, Icon = "oi oi-action-undo", OnClick = OnCancel });
            Notifier.UpdateButtons();
            if (!_active.Modified &&
                (Notifier.Action == CrudAction.Update || Notifier.Action == CrudAction.Delete))
            {
                //Get trigger data.
                HttpResponseMessage response = await Http.GetAsync(string.Format("api/Trigger?id={0}", _active.Id));
                ClientHelpers.ValidateStatusCode(response);
                _active = (await response.Content.ReadFromJsonAsync<GetTriggerResponse>()).Item;
                Notifier.UpdateData(GXPages.Triggers, _active);
                _active.Modified = true;
            }
            Notifier.ChangePage(GXPages.Trigger, _active);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Cancel update.
    /// </summary>
    private void OnCancel()
    {
        Notifier.RemoveLastPage();
        NavigationManager.NavigateTo(Notifier.GetLastPage());
    }
}
