@*
// --------------------------------------------------------------------------
//  Gurux Ltd
//
//
//
// Filename:        $HeadURL$
//
// Version:         $Revision$,
//                  $Date$
//                  $Author$
//
// Copyright (c) Gurux Ltd
//
//---------------------------------------------------------------------------
//
//  DESCRIPTION
//
// This file is a part of Gurux Device Framework.
//
// Gurux Device Framework is Open Source software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2 of the License.
// Gurux Device Framework is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// This code is licensed under the GNU General Public License v2.
// Full text may be retrieved at http://www.gnu.org/licenses/gpl-2.0.txt
//---------------------------------------------------------------------------
*@
@using Gurux.DLMS.AMI.Components.Enums
@using Gurux.DLMS.AMI.Script
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Shared.DIs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Module
@using System.Globalization
@using System.Text
@using System.Text.Json
@using Gurux.DLMS.AMI.Script.Pages

@using Microsoft.Extensions.Logging

@namespace Gurux.DLMS.AMI.Client.Pages.Config

@attribute [Authorize(Roles = GXRoles.Admin)]
@inject NavigationManager NavigationManager
@implements IDisposable
@inject HttpClient Http
@inject IGXNotifier Notifier
@implements IGXConfigUpdate

@if (_settings != null)
{
    <p>
        <MenuControl RightCorner=true>
            <ChildContent>
                <MenuItem Text="Run prune" Id="Prune" OnClick="@OnRun" />
            </ChildContent>
        </MenuControl>
    </p>
    <p>
    </p>
    <EditForm Model="@_settings">
        <div class="row">
            <div style="width:100%">
                <PruneAction Title="Remove system logs." Action="@_settings.SystemLog"></PruneAction>
                <PruneAction Title="Remove users who newer logged in." Action="@_settings.User"></PruneAction>
                <PruneAction Title="Remove user logs." Action="@_settings.UserActions"></PruneAction>
                <PruneAction Title="Remove device logs." Action="@_settings.DeviceLogs"></PruneAction>
                <PruneAction Title="Remove agent logs." Action="@_settings.AgentLog"></PruneAction>
                <PruneAction Title="Remove gateway logs." Action="@_settings.GatewayLog"></PruneAction>
                <PruneAction Title="Remove schedule logs." Action="@_settings.ScheduleLog"></PruneAction>
                <PruneAction Title="Remove performance logs." Action="@_settings.PerformanceLog"></PruneAction>
                <PruneAction Title="Remove tasks." Action="@_settings.Task">
                    <label>Task status</label>
                    <GXInputDropdown class="form-select"
                                         Id="prune-task-type"
                                         LastValue="true"
                                         @bind-Value="_settings.Task.Type">
                    </GXInputDropdown>
                </PruneAction>
            </div>
        </div>
    </EditForm>
}

@code {
    /// <summary>
    /// Parent component.
    /// </summary>
    [Parameter]
    public Gurux.DLMS.AMI.Client.Pages.Config.Configurations? Parent { get; set; }

    /// <inheritdoc/>
    public void Update()
    {
        if (!string.IsNullOrEmpty(Parent?.Active?.Settings))
        {
            _settings = JsonSerializer.Deserialize<PruneSettings>(Parent.Active.Settings);
        }
        InvokeAsync(StateHasChanged);
    }

    PruneSettings? _settings;

    protected override void OnInitialized()
    {
        try
        {
            if (Notifier == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidNotifier);
            }
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            Notifier.On<IEnumerable<GXConfiguration>>(this, nameof(IGXHubEvents.ConfigurationSave), (configurations) =>
            {
                try
                {
                    if (configurations != null)
                    {
                        foreach (var it in configurations)
                        {
                            if (it.Name == GXConfigurations.Prune && !string.IsNullOrEmpty(it.Settings))
                            {
                                _settings = JsonSerializer.Deserialize<PruneSettings>(it.Settings);
                                InvokeAsync(StateHasChanged);
                                break;
                            }
                        }
                    }
                }
                catch (Exception ex)
                {
                    Notifier?.ProcessError(ex);
                }
            });
            Notifier.Clear();
            Notifier.AddMenuItem(new GXMenuItem( Properties.Resources.Save, "Save", EventCallback.Factory.Create(this, OnSave)));
            Notifier.AddMenuItem(new GXMenuItem( Properties.Resources.Cancel, "Cancel", EventCallback.Factory.Create(this, OnCancel)));
            Notifier.UpdateButtons();
            if (!string.IsNullOrEmpty(Parent?.Active?.Settings))
            {
                _settings = JsonSerializer.Deserialize<PruneSettings>(Parent.Active.Settings);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Save values.
    /// </summary>
    private async void OnSave()
    {
        Notifier?.ProgressStart();
        Notifier?.ClearStatus();
        try
        {
            if (Parent?.Active == null)
            {
                throw new Exception(Properties.Resources.InvalidTarget);
            }
            Parent.Active.Settings = JsonSerializer.Serialize(_settings);
            ConfigurationUpdate arg = new ConfigurationUpdate();
            arg.Configurations = new GXConfiguration[] { Parent.Active };
            await Http.PostAsJson("api/Configuration/Update", arg);
            ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Run the prune.
    /// </summary>
    public async void OnRun()
    {
        Notifier?.ProgressStart();
        Notifier?.ClearStatus();
        try
        {
            ConfigurationRunPrune req = new ConfigurationRunPrune();
            await Http.PostAsJson<ConfigurationRunPruneResponse>("api/Configuration/Prune", req);
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Cancel update.
    ///</summary>
    private void OnCancel()
    {
        ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
    }

    public void Dispose()
    {
        Notifier.RemoveListener(this);
    }
}
