@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Module
@using System.Globalization

@attribute [Authorize(Roles = GXRoles.Admin + "," + GXRoles.ModuleLog)]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@if (Parent?.Active != null)
{
    <EditForm Model="@Parent.Active">
        <div class="row">
            <div style="width:100%">
                <div class="form-group">
                    <label>@Properties.Resources.Message</label>
                    <InputText id="name" disabled="disabled" @bind-Value="Parent.Active.Message" class="form-control" />
                </div>
                @if (!string.IsNullOrEmpty(Parent.Active.StackTrace))
                {
                    <div class="form-group">
                        <label>@Properties.Resources.StackTrace</label>
                        <textarea id="Reply" @bind="Parent.Active.StackTrace" rows="10"
                          readonly="readonly" class="form-control" />
                    </div>
                }
               <div class="form-group">
                    <label>@Properties.Resources.ErrorSeverityLevel</label>
                    <input type="text" id="level" disabled="disabled"
                       value="@ClientHelpers.LevelToString(Parent.Active.Level)" class="form-control" />
                </div>
                @if (Parent.Active.Module != null)
                {
                    <div class="form-group">
                        <label>@Properties.Resources.Module</label>
                        <InputText id="module" disabled="disabled" @bind-Value="Parent.Active.Module.Id" class="form-control" />
                    </div>
                }
                @if (Parent.Active.CreationTime != DateTime.MinValue)
                {
                    <div class="form-group">
                        <label>@Properties.Resources.CreationTime</label>
                        <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                           @bind-Value="Parent.Active.CreationTime" />
                    </div>
                }
                @if (Parent.Active.Closed != null)
                {
                    <div class="form-group">
                        <label>@Properties.Resources.Closed</label>
                        <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                           @bind-Value="Parent.Active.Closed" />
                    </div>
                }
            </div>
        </div>
    </EditForm>
}
@code {
    [CascadingParameter]
    private ModuleLogs? Parent { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            if (Parent?.Active == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidTarget);
            }
            Notifier.Clear();
            Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Close, Icon = "oi oi-action-undo", OnClick = OnCancel });
            Notifier.UpdateButtons();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Cancel.
    /// </summary>
    private void OnCancel()
    {
        ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
    }
}
