@page "/workflowlogs"
@using Gurux.DLMS.AMI.Client.Helpers.ContextMenu
@using Gurux.DLMS.AMI.Shared.DIs
@using Gurux.DLMS.AMI.Shared.Models
@using Gurux.DLMS.AMI.Shared.Enums
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Microsoft.AspNetCore.SignalR.Client
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Client.Helpers
@using Gurux.DLMS.AMI.Module

@attribute [Authorize(Roles = "Admin, WorkflowLogManager")]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ConfirmBase Confirm
@inject IGXNotifier Notifier
@implements IDisposable

<PageTitle>@Properties.Resources.WorkflowLogs (@Properties.Resources.Total: @Total)</PageTitle>

<AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.WorkflowLogManager)>
    <MenuControl RightCorner="true">
        <ChildContent>
            <MenuItem Text="@Properties.Resources.Clear" Icon="oi oi-trash" OnClick="@(async () => OnClear())" />
        </ChildContent>
    </MenuControl>
</AuthorizeView>

<MenuControl>
    <ChildContent>
        <MenuItem Text="@Properties.Resources.Search" Icon="oi oi-magnifying-glass" OnClick="@(async () => Updated())" />
    </ChildContent>
</MenuControl>
@if (Filter)
{
    <p>
        <input type="checkbox"
           @onchange="@((ChangeEventArgs __e) => ShowClosedErrors = @StatusTile.ToBoolean(__e.Value))"
           id="showClosedErrors" />
        <label class="form-check-label" for="showClosedErrors">@Properties.Resources.ShowClosedErrors</label>
    </p>
}
<table class="table table-striped">
    <thead>
        @if (Filter)
        {
            <tr>
                <th>
                    <input class="form-control" placeholder="Filter by creation time..."
                       type="datetime-local"
                       @onchange="@((ChangeEventArgs __e) => filter.CreationTime = @StatusTile.ToDateTime(__e.Value))" />
                </th>
                <th>
                    <input class="form-control" type="text" placeholder="Filter by error..."
                       @onchange="@((ChangeEventArgs __e) => filter.Message = Convert.ToString(__e.Value))" />
                </th>
                <th>
                    <div>
                        <input class="form-control" type="text" placeholder="Filter by level..."
                           @onchange="@((ChangeEventArgs __e) => filter.Level = @ClientHelpers.LevelToInt(__e.Value))" />
                    </div>
                </th>
                <th>
                    <input class="form-control" placeholder="Filter by close time..."
                       type="datetime-local"
                       @onchange="@((ChangeEventArgs __e) => filter.Closed = @StatusTile.ToDateTime(__e.Value))" />
                </th>
            </tr>

        }
        <tr>
            <th>@Properties.Resources.CreationTime</th>
            <th>@Properties.Resources.Error</th>
            <th>@Properties.Resources.Level</th>
            <th>@Properties.Resources.CloseTime</th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody>
        <Virtualize @ref="virtualize" Context="error" ItemsProvider="@GetItems">
            <ItemContent>
                <tr class=@(GetSelectedClass(error)) @onclick="@(()=>RowSelected(error))">
                    <td>@error.CreationTime</td>
                    <td>@error.Message</td>
                    <td>@ClientHelpers.LevelToString(error.Level)</td>
                    <td>@error.Closed</td>
                    @if (_active == error)
                    {
                        <td>
                            <ContextMenuController>
                                <ChildContent>
                                    <ContextMenuItem Text="@Properties.Resources.Show" Icon="oi oi-eye" OnClick="async () => OnShow()"></ContextMenuItem>
                                    <ContextMenuItem Text="@Properties.Resources.Close" Icon="oi oi-pencil" OnClick="async () => OnClose()"></ContextMenuItem>
                                </ChildContent>
                            </ContextMenuController>
                        </td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                </tr>
            </ItemContent>
            <Placeholder>
                <p>
                    @Properties.Resources.Loading&hellip;
                </p>
            </Placeholder>
        </Virtualize>
    </tbody>
</table>
<br />
<Confirm @ref="ClearConfirmation" ConfirmationChanged="OnClearConfirmation" ConfirmationTitle=@($"Confirm Clear")
         OkTitle="@Properties.Resources.Clear" ConfirmationMessage="@Properties.Resources.AreYouSureYouWantToClearErrors">
</Confirm>

@code {
    /// <inheritdoc />
    public string Name
    {
        get
        {
            return Gurux.DLMS.AMI.Client.Properties.Resources.WorkflowLogs;
        }
    }

    /// <inheritdoc />
    public Type? ConfigurationUI
    {
        get
        {
            return null;
        }
    }

    /// <inheritdoc cref="IGXComponentView.Icon">
    public string? Icon
    {
        get
        {
            return "oi oi-tablet";
        }
    }

    /// <summary>
    /// Amount of the workflow log shown on the view.
    /// </summary>
    [Parameter]
    public int Count { get; set; } = 0;

    /// <summary>
    /// Is filter shown.
    /// </summary>
    [Parameter]
    public bool Filter { get; set; } = true;

    /// <summary>
    /// Is title shown.
    /// </summary>
    [Parameter]
    public bool Title { get; set; } = true;

    /// <summary>
    /// Total numbers of rows in the database.
    /// </summary>
    internal int Total
    {
        get;
        private set;
    }
    /// <summary>
    /// Workflow log filter.
    /// </summary>
    private GXWorkflowLog filter = new GXWorkflowLog();
    /// <summary>
    /// User is verified before workflow log are cleared.
    /// </summary>
    protected ConfirmBase? ClearConfirmation;
    /// <summary>
    /// Virtualize.
    /// </summary>
    protected Virtualize<GXWorkflowLog>? virtualize;

    /// <summary>
    /// Selected item.
    /// </summary>
    private GXWorkflowLog? _active;

    public bool IsActive(GXWorkflowLog item)
    {
        return item.Closed == null;
    }

    /// <summary>
    /// Closed errors are shown.
    /// </summary>
    public bool ShowClosedErrors { get; set; }

    protected string GetSelectedClass(GXWorkflowLog selected)
    {
        return _active != null && selected.Id == _active.Id ? "table-info" : "table-striped";
    }


    protected void RowSelected(GXWorkflowLog selected)
    {
        _active = selected;
        Notifier.UpdateData(GXPages.WorkflowLogs, _active);
    }

    /// <summary>
    /// Update virtualized items.
    /// </summary>
    protected async Task Updated()
    {
        try
        {
            _active = null;
            if (virtualize != null)
            {
                Notifier?.ClearStatus();
                await virtualize.RefreshDataAsync();
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    protected override void OnInitialized()
    {
        Notifier?.ProgressStart();
        Notifier?.ClearStatus();
        try
        {
            if (Notifier == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidNotifier);
            }
            Notifier.On<IEnumerable<GXWorkflow>?>(this, nameof(IGXHubEvents.ClearWorkflowLogs), async (errors) =>
            {
                await Updated();
            });
            Notifier.On<IEnumerable<GXWorkflowLog>>(this, nameof(IGXHubEvents.AddWorkflowLogs), (errors) =>
            {
                Task.Run(Updated);
            });
            Notifier.On<IEnumerable<GXWorkflowLog>>(this, nameof(IGXHubEvents.CloseWorkflowLogs), (errors) =>
            {
                Task.Run(Updated);
            });
            Notifier.ChangePage(GXPages.WorkflowLogs, null);
            Notifier.Clear();
            Notifier.UpdateButtons();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    private async ValueTask<ItemsProviderResult<GXWorkflowLog>> GetItems(ItemsProviderRequest request)
    {
        //Don't clear status or error is lost.
        Notifier?.ProgressStart();
        try
        {
            if (ShowClosedErrors)
            {
                //Show closed errors.
                filter.Closed = DateTimeOffset.MaxValue;
            }
            else
            {
                //Show active errors.
                filter.Closed = null;
            }
            ListWorkflowLogs req = new ListWorkflowLogs() { Index = request.StartIndex, Count = request.Count, Filter = filter };
            if (Count != 0)
            {
                req.Count = Count;
            }
            var ret = await Http.PostAsJson<ListWorkflowLogsResponse>("api/WorkflowLog/List", req, request.CancellationToken);
            Total = ret.Count;
            //Get only selected amount of the workflow log.
            if (Count != 0)
            {
                ret.Count = Count;
            }
            return new ItemsProviderResult<GXWorkflowLog>(ret.Logs, ret.Count);
        }
        catch (TaskCanceledException)
        {
            //Let the Virtualize component handle this
            throw;
        }
        catch (OperationCanceledException)
        {
            //Might happen when the user scrolls the list rapidly.
        }
        catch (ObjectDisposedException)
        {
            //Might happen when the user scrolls the list rapidly.
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
        return default;
    }

    /// <summary>
    /// Show workflow log details.
    /// </summary>
    public void OnShow()
    {
        try
        {
            Notifier?.ClearStatus();
            if (_active == null)
            {
                throw new Exception(Gurux.DLMS.AMI.Client.Properties.Resources.NoItemIsSelected);
            }
            Notifier.Title = "Workflow log";
            Notifier.Action = CrudAction.Update;
            NavigationManager.NavigateTo("/workflowlog");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }

    /// <summary>
    /// Close the selected error.
    /// </summary>
    public async Task OnClose()
    {
        try
        {
            if (_active == null)
            {
                throw new ArgumentException(Properties.Resources.NoItemIsSelected);
            }
            Notifier?.ProgressStart();
            Notifier?.ClearStatus();
            CloseWorkflowLog arg = new CloseWorkflowLog();
            arg.Logs = new Guid[] { (_active as GXWorkflowLog).Id };
            await Http.PostAsJson<CloseWorkflowLogResponse>("api/WorkflowLog/Close", arg);
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    public void Dispose()
    {
        Notifier.RemoveLastPage(GXPages.WorkflowLogs);
        Notifier.RemoveListener(this);
    }

    /// <summary>
    /// Clear the workflow log list.
    /// </summary>

    public void OnClear()
    {
        Notifier?.ClearStatus();
        ClearConfirmation?.Show();
    }

    /// <summary>
    /// Clear the workflow log list.
    /// </summary>
    public async Task OnClearConfirmation(bool confirm)
    {
        try
        {
            if (confirm)
            {
                await Http.PostAsJson<ClearWorkflowLogsResponse>("api/WorkflowLog/Clear", new ClearWorkflowLogs());
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
    }
}
