@using Gurux.DLMS.AMI.Shared.DIs

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs
@using Gurux.DLMS.AMI.Shared.Rest
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Module
@using System.Globalization

@attribute [Authorize(Roles = GXRoles.Admin + "," + GXRoles.DeviceTrace)]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier
@if (_active != null)
{
    <EditForm Model="@_active">
        <div class="row">
            <div style="width:100%">
                <div class="form-group">
                    <label>Direction</label>
                    <input type="text" id="direction" disabled="disabled" value="@GetDirection()" class="form-control" />
                </div>

                <div class="form-group">
                    <label>@Properties.Resources.Message</label>
                    <input type="text" id="frame" disabled="disabled" value="@_active.Frame" class="form-control" />
                </div>
                @if (_active.Device != null)
                {
                    <div class="form-group">
                        <label>@Properties.Resources.Device</label>
                        <input type="text" id="device" disabled="disabled" value="@_active.Device.Name" class="form-control" />
                    </div>
                }
                @if (_active.CreationTime != DateTime.MinValue)
                {
                    <div class="form-group">
                        <label>@Properties.Resources.CreationTime</label>
                        <InputDate Type="@InputDateType.DateTimeLocal" id="generation" readonly="readonly" class="form-control"
                           @bind-Value="_active.CreationTime" />
                    </div>
                }
            </div>
        </div>
    </EditForm>
}
@code {
    /// <summary>
    /// Action.
    /// </summary>
    [Parameter]
    public string? Action { get; set; }

    /// <summary>
    /// Target ID.
    /// </summary>
    [Parameter]
    public Guid? Id { get; set; }

    private GXDeviceTrace? _active;

    private string GetDirection()
    {
        return _active != null && _active.Send.GetValueOrDefault(true) ? "Tx" : "Rx";
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Notifier.ProgressStart();
            Notifier.ClearStatus();
            //Get selected item.
            if (Id == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidTarget);
            }
            Notifier.Clear();
            Notifier.AddMenuItem(new GXMenuItem() { Text = Properties.Resources.Close, Icon = "oi oi-action-undo", OnClick = OnCancel });
            Notifier.UpdateButtons();
            //Read device trace item.
            HttpResponseMessage response = await Http.GetAsync(string.Format("api/DeviceTrace?id={0}", Id));
            ClientHelpers.ValidateStatusCode(response);
            _active = (await response.Content.ReadFromJsonAsync<GetDeviceTrace>())?.Item;
            if (_active == null)
            {
                throw new ArgumentException(Properties.Resources.InvalidTarget);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex)
        {
            Notifier?.ProcessError(ex);
        }
        finally
        {
            Notifier?.ProgressEnd();
        }
    }

    /// <summary>
    /// Cancel.
    /// </summary>
    private void OnCancel()
    {
        ClientHelpers.NavigateToLastPage(NavigationManager, Notifier);
    }
}
