@*
// --------------------------------------------------------------------------
//  Gurux Ltd
//
//
//
// Filename:        $HeadURL$
//
// Version:         $Revision$,
//                  $Date$
//                  $Author$
//
// Copyright (c) Gurux Ltd
//
//---------------------------------------------------------------------------
//
//  DESCRIPTION
//
// This file is a part of Gurux Device Framework.
//
// Gurux Device Framework is Open Source software; you can redistribute it
// and/or modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; version 2 of the License.
// Gurux Device Framework is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
// See the GNU General Public License for more details.
//
// This code is licensed under the GNU General Public License v2.
// Full text may be retrieved at http://www.gnu.org/licenses/gpl-2.0.txt
//---------------------------------------------------------------------------
*@
@using Gurux.DLMS.AMI.Components.Enums
@using Microsoft.Extensions.Logging
@using System.Diagnostics

@inject IGXLocalStorage localStorage
@inject ILogger<Callout> Logger

<div style="position: relative; display: inline-block;">
    @if (Visible && !string.IsNullOrEmpty(Text))
    {
        <div id="@Id" attributes="@AdditionalAttributes" class="@GetDivClass()" role="@GetRole()">
            @Text
            @if (Closable)
            {
                <button class="close-btn markup" onclick="@(() => ToggleCallout())">@GetCloseText()</button>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Search ID is used to save cookie value.
    /// </summary>
    [Parameter]
    public string? Id
    {
        get;
        set;
    }

    [Parameter]
    public string? CssClass { get; set; } = "form-control";

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }


    /// <summary>
    /// Mode of the callout tile.
    /// </summary>
    [Parameter]
    public TraceLevel Mode { get; set; }

    /// <summary>
    /// Search ID is used to save cookie value.
    /// </summary>
    [Parameter]
    public string? CloseText
    {
        get;
        set;
    }

    /// <summary>
    /// Is callout visible.
    /// </summary>
    [Parameter]
    public bool Visible { get; set; } = true;

    /// <summary>
    /// Is callout closable.
    /// </summary>
    [Parameter]
    public bool Closable { get; set; } = true;

    ///<summary>
    /// Callout text.
    ///</summary>
    [Parameter]
    public string? Text { get; set; }

    private void ToggleCallout()
    {
        Visible = !Visible;
    }

    string GetDivClass()
    {
        string str;
        switch (Mode)
        {
            case TraceLevel.Info:
                str = "alert alert-info alert-dismissible fade show";
                break;
            case TraceLevel.Warning:
                str = "alert alert-warning alert-dismissible fade show";
                break;
            case TraceLevel.Error:
                str = "alert alert-danger";
                str = "alert alert-danger alert-dismissible fade show";
                break;
            default:
                throw new ArgumentException(nameof(GetDivClass));
        }
        return str;
    }

    string GetRole()
    {
        string str;
        switch (Mode)
        {
            case TraceLevel.Info:
                str = "alert-info";
                break;
            case TraceLevel.Warning:
                str = "alert";
                break;
            case TraceLevel.Error:
                str = "alert-danger";
                break;
            default:
                throw new ArgumentException(nameof(GetRole));
        }
        return str;
    }

    string GetClass()
    {
        string str = "callout; ";
        switch (Mode)
        {
            case TraceLevel.Info:
                str += "alert-heading";
                break;
            case TraceLevel.Warning:
                str += "alert-heading";
                break;
            case TraceLevel.Error:
                str += "alert-heading";
                break;
            default:
                throw new ArgumentException(nameof(GetClass));
        }
        if (!string.IsNullOrEmpty(CssClass))
        {
            str += "; " + CssClass;
        }
        return str;
    }

    private MarkupString GetCloseText()
    {
        if (string.IsNullOrEmpty(CloseText))
        {
            return (MarkupString)"&#10006;"; //X = &#10006;
                                             //V = &#x2714;
        }
        return (MarkupString)CloseText;
    }

}