@page "/Schedule"
@page "/ScheduleGroup"
@page "/ScheduleLog/{Id:guid?}"
@page "/ScheduleLog/{Action}/{Id:guid?}"

@using Gurux.DLMS.AMI.Shared.DIs
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Gurux.DLMS.AMI.Shared.DTOs.Authentication
@using Gurux.DLMS.AMI.Shared
@using Gurux.DLMS.AMI.Shared.Enums
@using Gurux.DLMS.AMI.Shared.DTOs

@attribute [Authorize(Roles = GXRoles.Admin + "," + GXRoles.ScheduleManager + "," + GXRoles.ScheduleGroupManager + "," + GXRoles.ScheduleLog + "," + GXRoles.ScheduleLogManager)]
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IGXNotifier Notifier

<!--If user adds a new item or modifies the existing one.-->
@if (string.Compare(Action, "Add", true) == 0 || (Id != null && Path != null && string.Compare(Action, "Edit", true) == 0))
{
    @if (string.Compare(Path, "ScheduleGroup", true) == 0)
    {
        <ScheduleGroupTab Action="@Action" Id="@Id"></ScheduleGroupTab>
    }
    else if (string.Compare(Path, "Schedule", true) == 0)
    {
        <ScheduleTab Action="@Action" Id="@Id"></ScheduleTab>
    }
    else if (string.Compare(Path, "ScheduleLog", true) == 0)
    {
        <ScheduleLog Id="@Id"></ScheduleLog>
    }    
}
else
{
    <TabControl Active="@Path" SelectionChanged="@SelectionChanged">
        <TabTextTemplate>
            <span class=@context.Icon aria-hidden="true"></span>
            @context.Text
        </TabTextTemplate>
        <ChildContent>
            <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.ScheduleManager)>
                <TabPage Path="Schedule" Text=@Properties.Resources.SchedulesTitle Icon="oi oi-timer">
                    <div style="position: relative; width: 100%; ">
                        <Schedules Id="@Id"></Schedules>
                    </div>
                </TabPage>
            </AuthorizeView>
            <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.ScheduleGroupManager)>
                <TabPage Path="ScheduleGroup" Text=@Properties.Resources.ScheduleGroups Icon="oi oi-timer">
                    <div style="position: relative; width: 100%; ">
                        <ScheduleGroups Id="@Id"></ScheduleGroups>
                    </div>
                </TabPage>
            </AuthorizeView>
            <AuthorizeView Roles=@GXRoles.ToString(GXRoles.Admin, GXRoles.ScheduleLog, GXRoles.ScheduleLogManager)>
                <TabPage Path="ScheduleLog" Text=@Properties.Resources.ScheduleLogs Icon="oi oi-warning">
                    <div style="position: relative; width: 100%; ">
                        <ScheduleLogs Id="@Id"></ScheduleLogs>
                    </div>
                </TabPage>
            </AuthorizeView>
        </ChildContent>
    </TabControl>
}
<br />
@code {

    /// <summary>
    /// User action.
    /// </summary>
    [Parameter]
    public string? Action { get; set; }
    /// <summary>
    /// Selected item.
    /// </summary>
    [Parameter]
    public Guid? Id { get; set; }

    private string? Path { get; set; }

    /// <summary>
    /// User has selected a new tab.
    /// </summary>
    /// <param name="page">Tab page.</param>
    void SelectionChanged(TabPage page)
    {
        Path = page.Path;
    }

    protected override void OnInitialized()
    {
        //Get selected tab from the url.
        Path = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }
}

